<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <!-- 사이드바 시작 -->
            <div th:include="~{common/adminHeader.html}"></div>
            <!-- 사이드바 끝 -->

            <!-- basic table  Start -->
            <div class="pd-20 card-box mb-30">
                <h4 class="h4">자유 게시판</h4>

                <br>
                <div class="searchBox">
                    <form role="search" id="frmSearch" class="searchForm" action="/admin/board/list" method="get">
                        <input type="hidden" name="bbs_type" value="${bbsList.bbs_type}">
                        <div class="mb-3 row d-flex">
                            <label class="ml-3 col-form-label fontWe-700 mt-4">검색 범위</label>



                            <div class="select-wrap ">
                                <div class="icon mt-4"></div>
                                <select class="form-control" name="search_type" data-size="5" data-style="btn-outline-info" style="margin-left:40px">
                                    <option value="">전체</option>
                                    <option value="t">제목</option>
                                    <option value="c">내용</option>
                                    <option value="u">작성자</option>
                                </select>
                            </div>

                            <div class="col mt-4">
                                <input class="searchInput" type="search" name="search_word"  id="search_word" placeholder="검색" aria-label="Search" value="" style="margin-left:40px">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="ml-3 col-form-label fontWe-700">검색 기간</label>
                            <div class="col-2 ml-4">
                                <input type="date" class="form-control" name="search_date1" id="search_date1" value="">
                            </div>
                            <div class="mt-2">
                                <span class="justify-content-center">~</span>
                            </div>
                            <div class="col-2">
                                <input type="date" class="form-control" name="search_date2" id="search_date2" value="">
                            </div>
                            <div class="col-sm-3">
                                <button class="btn btn-warning" id="btnSearch" type="submit">검색</button>
                                <button class="btn btn-warning" id="btnReset" type="reset" onclick="location.href='/admin/board/list?bbs_type='">초기화</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <form action="/admin/board/delete" method="get" id="deleteForm">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th >
                                <div class="custom-control custom-checkbox mb-5">
                                    <input type="checkbox" class="custom-control-input" id="chkAll" name="chkAll">
                                    <label class="custom-control-label" for="chkAll"></label>
                                </div>
                            </th>
                            <th>NO.</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>등록일</th>
                            <th>조회수</th>
                        </tr>
                        </thead>

                        <tbody>


                        <tr>
                            <td>
                                <div class="custom-control custom-checkbox mb-5">
                                    <input type="checkbox" class="custom-control-input" value="" name="bbs_idx" id="">
                                    <label class="custom-control-label" for=""><span></span></label>
                                </div>
                            </td>
                            <td>1</td>
                            <td><a href="/admin/freeView">제목1</a></td>
                            <td>admin</td>
                            <td>2024-05-21</td>
                            <td>12</td>
                        </tr>


                        </tbody>

                    </table>
                    <div class="d-flex justify-content-sm-end">
                        <a class="btn btn-primary btn-lg btn-block" href="/admin/regist" style="width: 100px; height: 40px; font-size: 15px;" >작성하기</a>
                        <div class="d-flex justify-content-sm-end ml-2 mr-3">
                            <button type="button" id="btnDelete" name="btnDelete" class="btn btn-primary btn-lg btn-block" onclick="godelete();" style="width: 100px; height: 40px; font-size: 15px;">삭제하기</button>
                        </div>
                    </div>
                </form>


                <div class="d-flex justify-content-center">
                    <!-- Pagination with icons -->
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item " >
                                <a href="/admin/board/list?page=${bbsList.page_block_start - bbsList.page_block_size}${bbsList.linkParams}"
                                   class="page-link" aria-label="Previous">&laquo;
                                </a>
                            </li>
                            <c:forEach begin="${bbsList.page_block_start}"
                                       end="${bbsList.page_block_end}"
                                       var="page_num">
                                <li class="page-item ">
                                    <a href="/admin/board/list?page=${page_num}${bbsList.linkParams}" class="page-link">${page_num}</a>
                                </li>
                            </c:forEach>
                            <li class="page-item" >
                                <a href="/admin/board/list?page=${bbsList.page_block_start + bbsList.page_block_size}${bbsList.linkParams}" class="page-link" aria-label="Previous">
                                    &raquo;
                                </a>
                            </li>
                        </ul>
                    </nav><!-- End Pagination with icons -->
                </div>

            </div>

        </div>
    </div>
</div>
<!-- js -->
<script>
    let frm = document.querySelector("#frm");
    let chkAll = document.querySelector("#chkAll");
    // 체크박스 전체 선택/해제
    chkAll.addEventListener("click", (e) => {
        var check = document.querySelectorAll("input[type ='checkbox']");

        check.forEach((checkbox) => {
            checkbox.checked = chkAll.checked;
        });
    });

    // 삭제 버튼 눌렀을 때
    function godelete() {
        var check = document.querySelectorAll("input[type ='checkbox']:checked");
        console.log(check);
        if (check.length == 0) {
            alert("체크박스를 한 개 이상 선택하세요.");

            return false;
        } else {
            let deleteOk = confirm("정말 삭제하겠습니까?");
            if (deleteOk) {
                console.log(check);
                document.getElementById("deleteForm").submit();
            } else {
                return '/admin/board/list?bbs_type=${list.bbs_title}';
            }
        }
    }
</script>
</body>
</html>