<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>

        .btn.btn-primary {
            font-weight: bold;
            height: 50px;
            border-radius: 3px;
        }

        .form-select{
            width: 160px;
            height: 50px;
            border: 1px solid #ccc;
            margin-right: 10px;
        }


    </style>
</head>
<body>
<div th:include="~{common/header.html}"></div>
<div class="hero-wrap hero-bread" style="background-image: url('/images/main.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span>Hello</span></p>
                <h1 class="mb-0 bread">Join</h1>
            </div>
        </div>
    </div>
</div>

<main style=" width: 500px !important;margin: 0 auto !important;margin-top: 100px !important;">
    <form>
        <h1 class="h3 mb-3 fw-normal" style="text-align: center;font-weight: bold;">회원가입</h1>
        <div class="mb-3">
            <label for="id" class="form-label">아이디</label>
            <input type="text" class="form-control" id="id" placeholder="id">
        </div>
        <div class="mb-3">
            <label for="pwd" class="form-label">비밀번호</label>
            <input type="password" class="form-control" id="pwd" placeholder="password">
        </div>
        <div class="mb-3">
            <label for="pwd2" class="form-label">비밀번호 확인</label>
            <input type="password" class="form-control" id="pwd2" placeholder="password">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">이름</label>
            <input type="text" class="form-control" id="name" placeholder="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">이메일</label>
            <input type="email" class="form-control" id="email" placeholder="email@example.com">
        </div>
        <div class="mb-3">
            <label for="tel" class="form-label">전화번호</label>
            <input type="tel" class="form-control" id="tel" placeholder="***-****-****">
        </div>
        <div class="mb-3">
            <label class="form-label">생년월일</label>
            <div style="display: flex;">
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>년</option>
                        <option value="1">2024</option>
                    </select>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>월</option>
                        <option value="1">1</option>
                    </select>
                </div>
                <div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>일</option>
                        <option value="1">1</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary py-2 w-50 m-1" type="submit">회원가입</button>
            <button class="btn btn-primary py-2 w-50 m-1" type="reset">취소</button>
        </div>
    </form>
</main>
<div th:include="~{common/footer.html}"></div>
</body>
</html>