<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
    <style>
        .select-wrap select {
            width: 120px;
            height: 40px;
            font-size: 16px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .searchDiv {
            margin-top: 29px;
            height: 50px;
            width: 100px;
            margin-left: 20px;
        }

        input[type="date"] {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 10px;

        }
        div.btns button {
            height: 50px;
            width: 100px;
        }
        div.searchBox {
            padding-top: 30px;
            width: 100%;
            height: 250px;
            background-color: #f3f3f3;
            border-radius: 10px;
        }
        div.gubun {
            height: 120px;
        }
        div.tableDiv {
            margin-top: 50px;
        }

    </style>
    <link rel="stylesheet" href="/css/pagination.css">
</head>
<body>
<div th:include="~{common/header.html}"></div>
<div class="hero-wrap hero-bread" style="background-image: url('/images/main.jpg');">
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Products</span></p>
                <h1 class="mb-0 bread">Products</h1>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <th:block th:if="${responseDTO.bbsCategoryCode} == bbs01 ">
            <h4 class="h4">중고상품 게시판</h4>
        </th:block>
        <th:block th:if="${responseDTO.bbsCategoryCode} == bbs02">
            <h4 class="h4">공지사항</h4>
        </th:block>
        <th:block th:if="${responseDTO.bbsCategoryCode} == bbs03">
            <h4 class="h4">자유게시판</h4>
        </th:block>
        <div class="searchBox">
            <form action="/board/list" method="get" name="searchFrm">
                <input type="hidden" name="bbsCategoryCode" th:value="${responseDTO.bbsCategoryCode}">
                <div class="col-md-6">
                    <!-- 기간 검색 조건 -->
                    <div class="input-group mb-3">
                        <span class="input-group-text">기간</span>
                        <input type="date" class="form-control" name="search_date1" placeholder="시작일" aria-label="시작일">
                        <span class="input-group-text">-</span>
                        <input type="date" class="form-control" name="search_date2" placeholder="종료일" aria-label="종료일">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="input-group mb-3">
                        <span class="input-group-text">구분</span>
                        <select class="form-control" name="search_type">
                            <option value="t">제목</option>
                            <option value="c">내용</option>
                        </select>
                        <span class="input-group-text">검색어</span>
                        <input type="text" class="form-control" name="search_word">
                    </div>
                    <button class="btn btn-warning mr-2" id="btnSearch" type="submit">검색</button>
                    <button class="btn btn-warning" id="btnReset" type="reset" onclick="location.href=`/board/list`">초기화</button>
                </div>
            </form>
        </div>

        <div class="tableDiv">
            <form action="" method="get" >
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>NO.</th>
                        <th>제목</th>
                        <th>작성자</th>
                        <th>등록일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>

                    <tbody>
                        <th:block th:each="list, iterStat : ${responseDTO.dtolist}">
                            <th:block th:with="totalcount=${responseDTO.total_count - iterStat.count - responseDTO.page_skip_count+1}">
                                <tr>
                                    <th scope="row">[[${totalcount}]]</th>
                                    <td><a class = "text-dark" th:href="'/board/view?bbsIdx='+${list.bbsIdx}"><p th:text="${list.bbsTitle}"></p></a></td>
                                    <td th:text="${list.userId}"></td>
                                    <td th:text="${#strings.length(list.regDate) > 10 ? #strings.substring(list.regDate, 0, 10) : list.regDate}"></td>
                                    <td th:text="${list.bbsReadCnt}"></td>
                                </tr>
                            </th:block>
                        </th:block>
                    </tbody>
                </table>
                <th:block th:if="${responseDTO.bbsCategoryCode == 'bbs01' && session.user_id != null}">
                    <div class="d-flex justify-content-sm-end">
                        <a class="btn btn-primary btn-lg btn-block" th:href="'/board/regist?bbsCategoryCode='+${responseDTO.bbsCategoryCode}" style="width: 100px; height: 40px; font-size: 15px;" >작성하기</a>
                    </div>
                </th:block>
                <th:block th:if="${responseDTO.bbsCategoryCode == 'bbs02' && session.user_type == 'admin'}">
                <div class="d-flex justify-content-sm-end">
                    <a class="btn btn-primary btn-lg btn-block" th:href="'/board/regist?bbsCategoryCode='+${responseDTO.bbsCategoryCode}" style="width: 100px; height: 40px; font-size: 15px;" >작성하기</a>
                </div>
                </th:block>
                <th:block th:if="${responseDTO.bbsCategoryCode == 'bbs03' && session.user_id != null}">
                    <div class="d-flex justify-content-sm-end">
                        <a class="btn btn-primary btn-lg btn-block" th:href="'/board/regist?bbsCategoryCode='+${responseDTO.bbsCategoryCode}" style="width: 100px; height: 40px; font-size: 15px;" >작성하기</a>
                    </div>
                </th:block>
            </form>
        </div>


       <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <th:block th:if="${responseDTO.prev_page_plag == false}">
                    <li class="page-item disabled">
                </th:block>
                <th:block th:if="${responseDTO.prev_page_plag == true}">
                    <li class="page-item">
                </th:block>
                <a class="page-link" th:href="'/board/list?page='+(${responseDTO.page_block_start}-10)+${sort}+${responseDTO.linkParams}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
                </li>
                <th:block th:each="number : ${#numbers.sequence(responseDTO.page_block_start, responseDTO.page_block_end)}">
                    <th:block th:if="(${number}-1) == ${responseDTO.page}">
                        <li class="page-item active"><a class="page-link" th:href="'/board/list?page='+(${number}-1)+${sort}+${responseDTO.linkParams}" th:text="${number}"></a></li>
                    </th:block>
                    <th:block th:if="(${number}-1) != ${responseDTO.page}">
                        <li class="page-item"><a class="page-link" th:href="'/board/list?page='+(${number}-1)+${sort}+${responseDTO.linkParams}" th:text="${number}"></a></li>
                    </th:block>
                </th:block>
                <th:block th:if="${responseDTO.next_page_plag == false}">
                    <li class="page-item disabled">
                </th:block>
                <th:block th:if="${responseDTO.next_page_plag == true}">
                    <li class="page-item">
                </th:block>
                <a class="page-link" th:href="'/board/list?page='+(${responseDTO.page_block_start}+10)+${sort}+${responseDTO.linkParams}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
                </li>
            </ul>
        </nav>
    </div>
</section>

<div th:include="~{common/footer.html}"></div>
<script>
    //분류 셀렉박스
    const gradeOptions = {
        elementary: ['전체', '1학년', '2학년', '3학년', '4학년', '5학년', '6학년'],
        middle: ['전체', '1학년', '2학년', '3학년'],
        high: ['전체', '1학년', '2학년', '3학년'],
    };

    document.getElementById('schoolSelect').addEventListener('change', function () {
        const schoolType = this.value;
        const gradeSelect = document.getElementById('gradeSelect');

        gradeSelect.innerHTML = '';

        if (schoolType in gradeOptions) {
            gradeOptions[schoolType].forEach(grade => {
                const option = document.createElement('option');
                option.value = grade;
                option.textContent = grade;
                gradeSelect.appendChild(option);
            });
        } else {
            const option = document.createElement('option');
            option.value = 'all';
            option.textContent = '전체';
            gradeSelect.appendChild(option);
        }

        $('.selectpicker').selectpicker('refresh');
    });

    document.getElementById('schoolSelect').dispatchEvent(new Event('change'));

</script>
</body>
</html>